<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.AuditingMapper">
    <insert id="addAuditing">
        insert into auditing values(
        default,#{expid},#{empid},#{result},#{auditdesc},#{time}
        )
    </insert>
    <select id="selectAuditing" resultType="auditing">
        select * from auditing a left join employee e on a.empid=e.empid  where expid = #{expid} order by a.time asc
    </select>
<!--    <select id="selectAuditingByEmpid" resultType="auditing">-->
<!--        select * from auditing where empid =#{empid}-->
<!--    </select>-->
    <select id="selectAuditingByEmpid" resultType="expense">
          select e.expid,e.exptime,e.expdesc,e.totalamount,em.realname,a.empid ,a.time,a.result
          from expense e
LEFT JOIN employee em on e.empid=em.empid
left JOIN auditing a on e.expid = a.expid
where a.empid = #{empid}
    </select>


</mapper>