<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.ExpenseMapper">
    <insert id="addExpense" useGeneratedKeys="true" keyProperty="expid">
        insert into expense value (
        null,#{empid},#{totalamount},#{exptime},#{expdesc}
        ,#{nextauditor},#{lastresult},#{status}
        )
    </insert>

    <select id="findAllExpense" resultType="expense">
        select e.*,em.realname  from expense e LEFT JOIN employee em on e.empid=em.empid
        <where>
            <if test="empid != null and empid != ''">
                and em.empid =#{empid}
            </if>
        </where>
        order by e.exptime,expid desc
    </select>
    <select id="findExpeseByExpid" resultType="expense">
        select e.*,em.realname  from expense e LEFT JOIN employee em on e.empid=em.empid where e.expid=#{expid}
    </select>

    <update id="updateExpenseStatus">
        update expense set nextauditor=#{nextauditor},lastresult = #{lastresult},status=#{status} where expid = #{expid}
    </update>
</mapper>